@font-face {
    font-family: 'Manrope';
    src: url('./Manrope-VariableFont_wght.ttf');
}

@text-color: black;
@background-color: #2f3137;
@panel-color: #ddd;

html, body, p, h1, h2, h3, h4, h5, input, button {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', Helvetica, Arial, sans-serif;
    // font-variation-settings: "wght" 700;
    color: @text-color;
}

body {
    background: @background-color;
}

#layout, input, button {
    font-size: 1.1em;
}

#page {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: @panel-color;
}

#page-video {
    .video-menu {
        position: absolute;
        margin-top: 4.5em;
        margin-left: 2em;
        padding: 1em 2em;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.7);
    }
}

a {
    color: #ff60ff;
    text-decoration: none;
    &:hover {
        color: #54ee54;
        text-decoration: underline;
    }
}

input, button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
}
input {
    border: 1px solid black;
}
button {
    &.is-primary {
        background-color: #008bff;
        color: @panel-color;
        font-weight: bold;
    }
    &:hover {
        background-color: #00aaff;
        cursor: pointer;
    }
}

/* Mobile */

@media (max-width: 1000px) {

}
