:root {
    --text-color: rgb(224, 224, 224);
    --panel-color: #303336;
    --panel-border: 3px solid #2b2c30;
    --background-color: #202225;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand-VariableFont_wght.ttf');
}

html, body, p, h1, h2, h3, h4, h5, input, button {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    // font-variation-settings: "wght" 700;
    color: var(--text-color);
}

body {
    background: var(--background-color);
}

#layout, input, button {
    font-size: 1.1em;
}

#page {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--panel-color);
}

#page-video {
    .video-menu {
        position: absolute;
        margin-top: 4.5em;
        margin-left: 2em;
        padding: 1em 2em;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.7);
    }
}

a {
    color: #ff60ff;
    text-decoration: none;
    &:hover {
        color: #54ee54;
        text-decoration: underline;
    }
}

input, button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
}
input {
    background: var(--panel-color);
    border: 0;
}
button {
    &.is-primary {
        background-color: #008bff;
        color: var(--panel-color);
        font-weight: bold;
    }
    &:hover {
        background-color: #00aaff;
        cursor: pointer;
    }
}

/* Mobile */

@media (max-width: 1000px) {

}
