#chat-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    .chat-top {
        padding: var(--padding-top) var(--padding-rail);
        border-bottom: var(--panel-border);
    }
    .chat-middle {
        flex-grow: 1;
        border-bottom: var(--panel-border);
    }
    .chat-bottom {
    }
    .chat-title {
        display: inline-block;
    }
    .chat-top-divider {
        border-left: var(--panel-divider);
        margin: 0 0.8em;
    }
    .chat-description {
        font-size: 0.8em;
        color: var(--text-color);
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
    .chat-input-wrapper {
        display: flex;
        flex-flow: row;
    }
    #chat-emoji-btn {
        user-select: none;
        background: var(--bg-panel);
        font-size: 1.7em;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        border-left: var(--panel-border);
        &:hover {
            cursor: pointer;
            font-size: 2em;
        }
    }
    #message-list {
        background: var(--bg-content);
        color: rgb(224, 224, 224);
        overflow-y: scroll;

    }
    .message {
        display: flex;
        flex-flow: row;
        padding: 0.5em var(--padding-rail);
        margin-bottom: 0.3em;
        &:hover {
            background-color: var(--bg-panel);
        }
        .message-pfp-wrap {
            user-select: none;
            margin-right: 0.6em;
            .message-pfp {
                &:hover {
                    cursor: pointer;
                }
                display: block;
                background: white;
                border-radius: 50%;
                text-align: center;
                width: 1.3em;
                height: 1.3em;
                font-size: 1.3em;
                line-height: 1.3em;
                padding: 0.2em;
            }
        }
        .message-text-wrap {
            flex-grow: 1;
            .message-author {
                display: inline-block;
                font-variation-settings: "wght" 400;
                margin-bottom: 0.1em;
                &:hover {
                    cursor: pointer;
                }
            }
            .message-text {
                display: block;
                line-height: 1.3em;
                a {
                    &:hover {
                        cursor: pointer;
                    }
                }
                overflow-wrap: anywhere;
            }
        }
    }
    .error {
        padding: var(--padding-rail);
        border-top: var(--panel-border);
        max-height: 14em;
        overflow-y: scroll;
        overflow-wrap: break-word;
        max-height: 8em;
    }
    em-emoji-picker {
        position: absolute;
    }
}
