@import './variables.less';

#chat-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    .chat-top {
        padding: 0.4em var(--padding-rail) 0.55em;
        border-bottom: var(--panel-border);
        @media(max-width: @mobile-width) {
            padding: 0.2em var(--padding-rail) 0.32em;
            font-size: 0.9em;
        }
    }
    .chat-middle {
        flex-grow: 1;
        border-bottom: var(--panel-border);
        @media(max-width: @mobile-width) {
            font-size: 0.9em;
        }
    }
    .chat-bottom {
        @media(max-width: @mobile-width) {
            font-size: 0.9em;
        }
    }
    .chat-title {
        display: flex;
        align-items: center;
        .chat-title {
            flex-shrink: 0;
            max-width: 100%;
        }
        .chat-description {
            flex-grow: 0;
            white-space: nowrap;
            font-size: 0.8em;
            color: var(--text-color);
            padding-top: 0.5em;
            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
            /* Scroll horizontally, and hide scrollbar */
            overflow-x: scroll;
            -ms-overflow-style: none;  // Internet Explorer 10+
            scrollbar-width: none; // Firefox
            &::-webkit-scrollbar { // Chrome and Safari
                display: none;
            }
        }
        .chat-title-divider {
            border-left: var(--panel-divider);
            margin: 0 0.8em;
        }
    }
    .chat-input-wrapper {
        display: flex;
        flex-flow: row;
        input {
            background: var(--bg-panel);
            &.disabled {
                cursor: pointer;
            }
        }
    }
    #chat-emoji-btn {
        user-select: none;
        background: var(--bg-panel);
        font-size: 1.7em;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        border-left: var(--panel-border);
        &:hover {
            cursor: pointer;
            font-size: 2em;
        }
        &.disabled {
            opacity: 0.25;
            cursor: default;
            font-size: 1.7em;
        }
    }
    #message-list {
        background: var(--bg-content);
        color: rgb(224, 224, 224);
        overflow-y: scroll;
    }
    .message {
        display: flex;
        flex-flow: row;
        padding: 0.7em var(--padding-rail);
        &:hover {
            background-color: var(--bg-panel);
        }
        &.highlight {
            background: #4a443e;
        }
        .message-pfp-wrap {
            user-select: none;
            margin-right: 0.75em;
            .message-pfp {
                &:hover {
                    cursor: pointer;
                }
                display: block;
                background: white;
                border-radius: 50%;
                text-align: center;
                width: 1.5em;
                height: 1.5em;
                font-size: 1.5em;
                line-height: 1.5em;
                margin-top: 6px;
                &.polymedia-profile {
                    border-radius: 10%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        .message-body {
            flex-grow: 1;
            .message-author {
                display: inline-block;
                font-variation-settings: "wght" 400;
                margin-bottom: 0.1em;
                margin-right: 0.4em;
                vertical-align: middle;
                overflow-wrap: anywhere;
                &:hover {
                    cursor: pointer;
                }
            }
            .admin-badge, .verified-badge {
                margin-left: 0.15em;
                vertical-align: bottom;
                width: 23px;
            }
            .message-timestamp {
                user-select: none;
                display: inline-block;
                font-size: 0.8em;
                color: #aaa;
                vertical-align: middle;
            }
            .message-text {
                display: block;
                line-height: 1.3em;
                a {
                    &:hover {
                        cursor: pointer;
                    }
                }
                overflow-wrap: anywhere;
            }
            .message-images {
                img {
                    max-width: 100%;
                    height: 210px;
                    object-fit: contain;
                    margin-right: 0.4em;
                    margin-top: 0.2em;
                    border-radius: 6px;
                }
            }
        }
    }
    #load-more {
        text-align: center;
        #load-more-btn, #load-more-loading {
            display: inline-block;
            font-size: 1em;
            margin-bottom: 1em;
            margin-top: 1em;
            padding: 0.5em 1em;
        }
    }
    .error, #profile-cta {
        padding: var(--padding-rail);
        border-top: var(--panel-border);
        max-height: 14em;
        overflow-y: scroll;
        overflow-wrap: break-word;
        max-height: 8em;
    }
    #profile-cta {
        .cta-close {
            display: block;
            text-align: right;
            margin-top: -0.4em;
            margin-bottom: -0.6em;
            margin-right: -0.6em;
            span {
                font-size: 0.8em;
                color: var(--red);
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
    em-emoji-picker {
        position: absolute;
    }
    .teaser-buttons {
        button.primary {
            margin-top: 0.5em;
            font-size: 0.9em;
            &.open-eyes {
                margin-right: 0.5em;
                background-color: #ed3131;
            }
        }
    }
}
