#header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content 1fr;
    padding: 0.3em var(--padding-rail) 0.39em;
    border-bottom: var(--panel-border);
    background: var(--panel-color);
    font-variation-settings: "wght" 400;
    .header-btn {
        span {
            vertical-align: middle;
            &:hover {
                cursor: pointer;
            }
        }
        a {
            color: var(--text-color);
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
    #header-btn-menu {
        font-size: 1.1em;
    }
    #header-btn-user {
        font-size: 1.1em;
        text-align: right;
    }
    #header-btn-title {
        font-size: 1.2em;
        margin-top: -2px;
        img {
            height: 1.15em;
            margin-right: 0.25em;
            vertical-align: middle;
        }
    }
    #header-btn-connect {
        &:hover {
            color: var(--green);
        }
    }
    #header-btn-disconnect {
        &:hover {
            color: var(--red);
        }
    }
}
