:root {
    --category-border: 1px solid #505254;
}

#page.page-home {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.home-welcome {
    margin: 1em 0 2em;
    h1 {
        font-size: 2.2em;
        margin-bottom: 0.15em;
    }
}

.home-section {
    h2 {
        margin-bottom: 0.3em;
        font-size: 1.7em;
        font-variation-settings: "wght" 350;
    }
    .btn {
        margin: 1em 0.8em;
    }
    &:last-of-type {
        margin-bottom: 2em;
    }
}

.home-categories {
    padding: 0 1em;
    margin: 1.5em auto 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    .category {
        background: var(--bg-content);
        overflow-wrap: break-word;
        border: var(--category-border);
        border-radius: 18px;
        .category-title {
            font-size: 1.3em;
            font-variation-settings: "wght" 350;
            background-color: var(--bg-panel);
            padding: 0.5em;
            border-bottom: var(--category-border);
            border-radius: 18px 18px 0 0;
        }
        .category-description {
            padding: 1em;
            #unexpected {
                display: block;
                color: var(--bg-content);
            }
            &:hover {
                #unexpected {
                    font-variation-settings: "wght" 500;
                    color: orange;
                    cursor: default;
                }
                #coming-soon {
                    display: none;
                }
            }
        }
    }
}

.home-links {
    margin-top: 0.5em;
    margin-bottom: 1em;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
