.menu-wrapper {
    background: var(--bg-content);
    min-height: 100%;
    word-wrap: break-word;
    .btn {
        margin-bottom: 0.5em;
    }
}
.menu-content {
    padding: var(--padding-page);
    .error {
        margin-top: 1em;
    }
}
.menu-section {
    margin-top: 1em;
    padding-bottom: 0.6em;
    border-bottom: var(--panel-border);
    &:last-child {
        border-bottom: 0;
    }
    p {
        margin: 1em 0;
    }
}
.menu-field {
    margin: 0.75em 0;
    .menu-field-label {
        margin-right: 0.5em;
        font-variation-settings: "wght" 500;
        white-space: nowrap;
    }
    .menu-field-value {
    }
}
.menu-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    grid-gap: 1em;
    white-space: nowrap;
    overflow-wrap: break-word;
}
