#nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content 1fr;
    padding: 0.3em var(--padding-rail) 0.39em;
    border-bottom: var(--panel-border);
    background: var(--bg-panel);
    font-variation-settings: "wght" 400;
    .nav-btn {
        span {
            vertical-align: middle;
            &:hover {
                cursor: pointer;
            }
        }
    }
    #nav-btn-menu {
        font-size: 1.1em;
    }
    #nav-btn-user {
        font-size: 1.1em;
        text-align: right;
    }
    #nav-title {
        font-size: 1.3em;
        #nav-title-chat {
            @media(max-width: 540px) {
                display: none;
            }
        }
        #nav-title-polymedia {
            @media(max-width: 440px) {
                display: none;
            }
        }
    }
    #nav-btn-connect {
        &:hover {
            color: var(--green);
        }
    }
    #nav-btn-disconnect {
        &:hover {
            color: var(--red);
        }
    }
}
