.new-wrapper {
    background: var(--bg-content);
    min-height: 100%;
    word-wrap: break-word;
    .btn {
        margin-bottom: 0.5em;
    }
}
.new-content {
    padding: var(--padding-page);
    .error {
        margin-top: 1em;
    }
    h1 {
        margin-bottom: 0.5em;
    }
    p {
        margin-bottom: 1.5em;
    }
    .form {
        input {
            background: #555;
            border-radius: 16px;
            border: 2px solid var(--bg-content);
            &:focus {
                border: 2px solid #555;
            }
        }
        .form-field {
            label {
                color: #ccc;
                margin: 1em 0 0.2em 0.1em;
                display: block;
            }
        }
        button {
            margin-top: 1.2em;
        }
    }
}
